/* ***** commons ***** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

/* header */
header {
    height: 100px;
    margin-bottom: 20px;
}

.jumbotron {
    height: 300px;
    margin-bottom: 20px;
}

/* ****** main ***** */
main {
    background-color: blue;
    margin-bottom: 10px;
}

.main-top {
    margin-bottom: 20px;
}

aside, .main-central {
    margin-right: 2%;
}

aside, .main-central, .widget {
    float: left;
    margin-bottom: 20px;
}

aside, .widget {
    width: 20%;    
}

.main-central {
    width: 56%;
}

/* ***** footer ***** */

footer {
    height: 60px;
}



/* ***** debug header ***** */

.debug header {
    background-color: violet;
}

.debug .jumbotron {
    background-color: rgb(255, 230, 0);
}

/* ***** debug main ***** */
.debug .main-top, .debug aside, .debug .main-central, .debug .widget {
    background-color: lightskyblue;
}

.debug aside, .debug .main-central, .debug .widget {
    height: 400px;
}

.debug .main-top {
    height: 80px;
}

/* debug footer */
.debug footer {
    background-color: purple;
}